
<div class="staticLinkBox">
	<%= link_to "Add your event and increase visibility", addevent_path, :class => "addEventButton" %>
</div>

<div class="staticLinkBox">
	<%= link_to "About Starving Student", '#', :class => "aboutUsButton" %>
</div>